/*
 * サンプルプログラム(main)のシステムコンフィギュレーションファイル
 */
INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

INCLUDE("tinet/tinet_asp.cfg");

#include "main.h"
CRE_TSK(MAIN_TASK, { TA_ACT, 0, main_task, MAIN_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(UDP_TASK, { TA_NULL, 0, udp_task, HIGH_PRIORITY, STACK_SIZE, NULL });
